<% if user_signed_in? %>
 <h1>You're loggen in!</h1>
<% else %>
<div class="hero-unit">
<h1>Welcome to Transfer Pal!</h1>
<p>
	You've found the home page for the
	<%= link_to "Transfel Pal", "http://transferpal.co" %>
	application.
</p>
<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>
<% end %>